* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #f0f0f5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* home page  */

.container {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn_big {
  padding: 20px;
  border-radius: 5px;
  border: none;
  background-color: #1d1616;
  color: #fbfbfb;
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  cursor: pointer;
  transition: all 0.3s;
}
.btn_big:hover {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  scale: 1.1;
}

/* quiz page  */

.ques_cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  gap: 20px;
  margin-top: 50px;
}

.btn {
  padding: 5px 10px;
  background-color: #1d1616;
  color: #fbfbfb;
  text-transform: capitalize;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  cursor: pointer;
}
.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  scale: 0.99;
}

.question {
  background-color: #c63c51;
  color: #e2dfd0;
  font-size: 18px;
  padding: 10px;
  border-radius: 20px;
  margin: 20px;
  min-height: 120px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.option {
  height: 50px;
  width: 80%;
  border: 1px dashed black;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 20px;
  cursor: pointer;
  font-size: 17px;
  border-radius: 10px;
}
.active {
  background-color: #7077a1;
  border: 2px solid #1d1616;
  color: #eee;
}

.quiz {
  margin-top: 40px;
}

/* modal   */

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  background-color: #f0f0f5;
  padding: 20px;
  border-radius: 10px;
}
.cont {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 20px;
  font-size: 20px;
  text-transform: uppercase;
}

/* results page  */
.resluts {
  padding: 20px;
}
.result {
  padding: 20px;
  border-radius: 10px;
  background-color: #f8fafc;
  margin: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
}

.result_ques {
  font-size: 17px;
  font-weight: 700;
}
.result_ans {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.result_opt {
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #1d1616;
}
.correct {
  background-color: #d8efd3;
}
.incorrect {
  background-color: #f8d7da;
}
.worng_opt {
  background-color: #c63c51;
  color: #eee;
}

.results_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.score {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  margin: 30px 0;
}

.highlight {
  background-color: #94a684;
  padding: 5px 10px;
  border-radius: 5px;
  color: #f0f0f5;
}

.score_pill {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #c63c51;
  font-weight: 700;
  border-radius: 50%;
  top: -15px;
  right: -15px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #f0f0f5;
}

/* home page   */
.help {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.txt {
  display: flex;
  gap: 10px;
  position: relative;
  /* left: -20px; */
  margin: 10px;
}
.txt span {
  padding: 5px 10px;
  font-weight: 600;
  border-radius: 5px;
  color: #f0f0f5;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.txt_crt {
  background-color: #55ad9b;
}

.txt_wrng {
  background-color: #c63c51;
}

.txt_left {
  background-color: #ffd152;
}
