header {
  display: flex;
  background-color: antiquewhite;
  justify-content: space-between;
  align-items: center;
}
header ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  width: 100%;
}
